.upload {
  display: flex;
  place-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 402px;
  box-shadow: 2px 2px 10px 4px rgba(51, 51, 51, 0.151);
  border-radius: 12px;
  padding: 3.6rem 3.2rem;
  &-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-gray2);
    line-height: 27px;
  }
  &-label {
    font-weight: 500;
    line-height: 15px;
    font-size: 1rem;
    color: var(--clr-gray3);
    margin-top: 1.6rem;
  }
  &-dragzone {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #97bef4;
    position: relative;
    padding: 3.5rem 0 4rem 0;
    border-radius: 12px;
    &-fig {
      text-align: center;
      font-weight: 500;
      color: var(--clr-gray4);
      font-size: 1.2rem;
      margin-top: 3.7rem;
    }
    &-img {
      width: 100%;
      max-width: 115px;
    }
    &-input {
      width: 100%;
      height: 100%;
      opacity: 0%;
      position: absolute;
      top: 0;
    }
  }

  &-text-1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--clr-gray4);
    margin: 1.9rem 0;
  }
  &-button {
      cursor: pointer;
      background: var(--clr-blue);
      border: none;
      outline: none;
      border-radius: 8px;
      padding: .8rem 1.6rem;
      color: var(--clr-white);
  }
}
